.container{
    margin:auto;
}

.post{
    display:grid;
    grid-template-rows:auto auto 1fr auto;
    grid-template-columns:50% 50%;
    background-color: white;
    width:60%;
    height:auto;
    border-radius: 4%;
    margin:auto;
    padding:3%;
    box-shadow: 1px 1.5px 2px rgba(0,0,0, .22);
}



.image_path{
    grid-area:1/1/5/2;
    border-radius: 3%;
    width: 90%;
    box-shadow: 2px 2px 2px rgba(0,0,0, .22);
}

.name{
    font-size: 110%;
    font-weight: bold;
    grid-area:1/2/2/3;
    margin:0 0 2% 0;
    padding:2%;
}

.materials{
    grid-area:2/2/3/3;
    margin:0 0 2% 0;
    padding:2%;
}

.recipe{
    grid-area:3/2/4/3;
    white-space: pre-wrap;
    margin:0 0 2% 0;
    padding:2%;
}

.submit{
    grid-area:4/2/5/3;
    margin:0;
}

.back{
    padding:2%;
}