.post{
    display:grid;
    grid-template-rows:auto auto 1fr;
    grid-template-columns:50% 50%;
    background-color: white;
    width:60%;
    height:auto;
    border-radius: 4%;
    margin:0;
    padding:3%;
    box-shadow: 1px 1.5px 2px rgba(0,0,0, .22);
}

.image_path{
    grid-area:1/1/4/2;
    border-radius: 3%;
    width: 90%;
    box-shadow: 2px 2px 2px rgba(0,0,0, .22);
}

.name{
    grid-area:1/2/2/3;
    margin:0;
}

.materials{
    grid-area:2/2/3/3;
}

.recipe{
    grid-area:3/2/4/3;
    white-space: pre-wrap;
}

.back{
    padding:2%;
}